<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SAP Training</title>
</head>
<body>
  <section id="receiving-section">
    <h3>Receiving</h3>
      <ul>
        <li>Shipment Inquiry</li>
        <li>Receive Delivery #</li>
        <li>Receive PO #</li>
      </ul>
  </section>
  <section id="inventory-section">
    <h3>Inventory</h3>
      <ul>
        <li>Scrap</li>
        <li>Shrink</li>
        <li>Move Inventory</li>
      </ul>
  </section>
  <section id="other-section">
    <h3>Other</h3>
      <ul>
        <li>Movement History</li>
        <li>View Stock</li>
        <li>Research Handling Unit</li>
      </ul>
  </section>
  <section id="ship-section">
    <h3>Shipping</h3>
      <ul>
        <li>Create a Transfer</li>
        <li>Reprint Packing List</li>
        <li>Goods Issue PO</li>
      </ul>
  </section>
</body>
</html>