<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SAP Training</title>
</head>
<body>
  <section id="receiving-section">
    <h3>Receiving</h3>
      <ul>
        <li id="shipment-inquiry-btn">Shipment Inquiry</li>
        <li id="receive-delivery-btn">Receive Delivery #</li>
        <li id="receive-po-btn">Receive PO #</li>
      </ul>
  </section>
  <section id="inventory-section">
    <h3>Inventory</h3>
      <ul>
        <li id="scrap-btn">Scrap</li>
        <li id="shrink-btn">Shrink</li>
        <li id="move-inventory-btn">Move Inventory</li>
      </ul>
  </section>
  <section id="other-section">
    <h3>Other</h3>
      <ul>
        <li id="movement-history-btn">Movement History</li>
        <li id="view-stock-btn">View Stock</li>
        <li id="research-handling-unit-btn">Research Handling Unit</li>
      </ul>
  </section>
  <section id="ship-section">
    <h3>Shipping</h3>
      <ul>
        <li id="create-a-transfer-btn">Create a Transfer</li>
        <li id="reprint-packing-list-btn">Reprint Packing List</li>
        <li id="goods-issue-po-btn">Goods Issue PO</li>
      </ul>
  </section>
</body>
</html>