<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h2>Shipment Inquiry</h2>

  <h3>INPUT</h3>

  <span>Site(Destination)</span>
  <span>Expected Arrival Date</span>
  <span>Status</span>

  <h3>SOURCE</h3>

  <form>
    <span>Carton</span>
    <input type="text" name="carton">
    <span>Item Number</span>
    <input type="text" name="item-number">
    <span>Order Number</span>
    <input type="text" name="order-number">
    <span>STO/PO</span>
    <input type="text" name="sto-po">
    <span>Promotion</span>
    <input type="text" name="promotion">
    <span>Delivery</span>
    <input type="text" name="delivery">
    <span>Pallet</span>
    <input type="text" name="pallet">
    <span>Carton Number</span>
    <input type="text" name="carton-number">
  </form>

</body>
</html>