<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h2>Shipment Inquiry</h2>

  <h3>INPUT</h3>

  <span>Site(Destination)</span>
  <span>Expected Arrival Date</span>
  <span>Status</span>

  <h3>SOURCE</h3>

  <span>Carton</span>
  <span>Item Number</span>
  <span>Order Number</span>
  <span>STO/PO</span>
  <span>Promotion</span>
  <span>Delivery</span>
  <span>Pallet</span>
  <span>Carton Number</span>

</body>
</html>